.footer {
    width: 100%;
    background: linear-gradient(180deg, #15007F 0%, #2600E5 100%);
    padding: 80px 0px;

    &__body {
        display: flex;
        flex-direction: column;

        &-title {
            font-size: 96px;
            background: linear-gradient(91.01deg, #F2F7FF 14.5%, #FFED49 98.21%);
            font-weight: 600;
            line-height: 119.2px;
            letter-spacing: -0.02em;
            text-align: left;
            font-family: "Poppins", sans-serif;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        &-info {
            display: flex;
            justify-content: space-between;
            margin-top: 80px;

            &-main {
                display: flex;
                flex-direction: column;
                gap: 40px;

                &-tel {
                    font-size: 40px;
                    font-weight: 400;
                    line-height: 39.4px;
                    letter-spacing: -0.02em;
                    text-align: left;
                    color: #F7F7F7;
                }

                &-mail {
                    font-size: 24px;
                    font-weight: 400;
                    line-height: 28.8px;
                    letter-spacing: -0.02em;
                    text-align: left;
                    color: #F7F7F7;
                }

                &-social {
                    display: flex;
                    align-items: center;
                    gap: 20px;

                    &-item {
                        width: 37px;
                        height: 37px;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }

            &-menu {
                display: flex;
                gap: 126px;

                &-item {
                    display: flex;
                    flex-direction: column;
                    gap: 24px;

                    &-link {
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 19.2px;
                        letter-spacing: -0.02em;
                        text-align: left;
                        color: #2C2C2C;
                        padding: 4px 8px;
                        border-radius: 8px;
                        transition: all 0.3s ease;
                        color: #F7F7F7;
                    }

                    &-link:hover {
                        outline: 1px solid #F7F7F7;
                    }

                    &-link.active {
                        outline: 1px solid #F7F7F7;
                    }
                }
            }
        }

        &-copy {
            margin-top: 120px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            p {
                font-size: 20px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: -0.02em;
                text-align: left;
                color: #F7F7F7;
            }
            &-link{
                font-size: 16px;
                font-weight: 400;
                line-height: 16px;
                text-align: left;
                color: #F7F7F7;
                opacity: 0.7;
                text-decoration: underline;
            }
        }
    }
}