.search {
    width: 100%;
    padding: 60px 0px;

    &__body {
        display: flex;
        flex-direction: column;
        gap: 60px;

        &-title {
            display: flex;
            align-items: center;
            gap: 4px;

            img {
                width: 30px;
                height: 30px;
            }

            span {
                font-size: 20px;
                font-weight: 600;
                line-height: 24px;
                text-align: left;
                color: #2c2c2c;
            }
        }

        &-block {
            display: flex;
            gap: 29px;
            width: 100%;
            justify-content: space-between;

            &-start {
                min-width: 393px;
                height: 530px;
                position: relative;
                border-radius: 11px;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                padding: 20px;
                justify-content: space-between;
                &-text{
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    span:nth-child(1) {
                        font-size: 24px;
                        font-weight: 700;
                        line-height: 28.8px;
                        letter-spacing: -0.02em;
                        text-align: left;
                        color: #fff;
                    }

                    span:nth-child(2){
                        font-size: 28px;
                        font-weight: 400;
                        line-height: 33.6px;
                        letter-spacing: -0.02em;
                        text-align: left;
                        color: #F7F7F7;
                    }
                }
                img {
                    position: absolute;
                    width: 393px;
                    height: 530px;
                    top: 0;
                    left: 0;
                    z-index: -1;
                }

                p {
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 19.2px;
                    letter-spacing: -0.02em;
                    text-align: left;
                    color: #F7F7F7;
                    max-width: 353px;
                }
            }

            &-end {
                display: flex;
                flex-wrap: wrap;
                gap: 30px;

                &-item {
                    width: 394px;
                    height: 250px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding: 20px;
                    border-top: 2px solid #04040433;

                    &-title {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        span {
                            font-size: 24px;
                            font-weight: 700;
                            line-height: 28.8px;
                            letter-spacing: -0.02em;
                            text-align: left;
                            color: #2c2c2c;
                        }

                        p {
                            font-size: 28px;
                            font-weight: 400;
                            line-height: 33.6px;
                            letter-spacing: -0.02em;
                            text-align: left;
                            color: #2c2c2c;
                            opacity: 0.5;
                        }
                    }

                    &-desc {
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 19.2px;
                        letter-spacing: -0.02em;
                        text-align: left;
                        color: #2C2C2C;
                        opacity: 0.6;
                    }
                }
            }
        }
    }
}