.services {
    width: 100%;
    padding: 120px 0px;

    &__body {
        display: flex;
        flex-direction: column;

        &-title {
            display: flex;
            align-items: center;
            gap: 4px;

            img {
                width: 30px;
                height: 30px;
            }

            span {
                font-size: 20px;
                font-weight: 600;
                line-height: 24px;
                text-align: left;
                color: #2c2c2c;
            }
        }

        &-soft {
            background: url(../images/dist/text.png) center no-repeat;
            background-size: cover;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 56px;
            font-weight: 600;
            line-height: 57.6px;
            letter-spacing: -0.02em;
            text-align: left;
            margin-top: 30px;

            span {
                margin-left: 640px;
            }
        }

        .line {
            width: 115px;
            height: 1px;
            background: #B3B3B366;
            margin-top: 60px;
            margin-left: 640px;
        }

        &-desc {
            font-size: 24px;
            font-weight: 500;
            line-height: 28.8px;
            letter-spacing: -0.02em;
            text-align: left;
            color: #2c2c2c;
            margin-top: 60px;
            margin-left: 640px;
        }

        &-block {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 24px;
            margin-top: 60px;
            &-item {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 16px;
                border-top: 1px solid #04040433;
                border-radius: 16px;
                &-text {
                    display: flex;
                    align-items: center;
                    gap: 30px;
                    &-number {
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 19.2px;
                        letter-spacing: -0.02em;
                        text-align: left;
                        color: #04040433;
                        span {
                            color: #000;
                        }
                    }
                    &-name {
                        font-size: 24px;
                        font-weight: 400;
                        line-height: 28.8px;
                        letter-spacing: -0.02em;
                        text-align: left;
                        color: #2c2c2c;
                    }
                }
                svg{
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }
}