<section class="about">
    <div class="container">
        <div class="about__body">
            <h3 class="about__body-title">
                <img src="../images/dist/cost.png" alt="">
                Что такое SEO-продвижение по позициям?
            </h3>
            <div class="about__body-text">
                <span>
                    SEO-продвижение сайта по позициям — стратегия,<br>
                    которая направлена на улучшение позиций<br>
                    сайта в поисковой выдаче
                </span>
                <p>
                    Главная цель работы: привлечение новых пользователей и увеличение лидов для бизнеса.
                    <br><br>
                    Продвижение по позициям фокусируется на достижении высоких позиций по конкретным поисковым запросам.
                    Этим оно отличается от других методов, таких как продвижение по трафику или комплексное SEO.
                    Пример ключевых фраз: «купить кроссовки», «заказать встраиваемый шкаф».
                    <br><br>
                    При таком способе продвижения вы заранее обсуждаете список ключевых фраз, по которым хотели бы
                    видеть сайт в ТОПе поисковой выдачи.
                </p>
            </div>
        </div>
    </div>
</section>