<section class="case">
    <div class="container">
        <div class="case__body">
            <h3 class="case__body-title">
                <img src="../images/dist/cost.png" alt="">
                <span>Наши кейсы</span>
            </h3>
            <div class="case__body-block">
                <div class="case__body-block-item">
                    <img class="item__back" src="../images/dist/Case.png" alt="">
                    <div class="case__body-block-item-tabs">
                        <div class="case__body-block-item-tabs-item">
                            Базовое SEO
                        </div>
                        <div class="case__body-block-item-tabs-item">
                            Яндекс, Москва
                        </div>
                    </div>
                    <div class="case__body-block-item-info">
                        <div class="case__body-block-item-info-adv">
                            <img src="../images/dist/case__icon.png" alt="">
                            <div class="case__body-block-item-info-adv-text">
                                <span>66%</span>
                                <p>ключей в ТОП-10</p>
                            </div>
                        </div>
                        <div class="case__body-block-item-info-main">
                            <span>Сайт компании по аренды лофтов SEMENOV</span>
                            <a href="">
                                <span>Подробнее</span>
                                <svg width="17" height="17" viewBox="0 0 17 17" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 16L16 1M16 1V11.7463M16 1H4.64286" stroke="#2C2C2C" stroke-width="2"
                                        stroke-linecap="round" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="case__body-block-item">
                    <img class="item__back" src="../images/dist/Case.png" alt="">
                    <div class="case__body-block-item-tabs">
                        <div class="case__body-block-item-tabs-item">
                            Базовое SEO
                        </div>
                        <div class="case__body-block-item-tabs-item">
                            Яндекс, Москва
                        </div>
                    </div>
                    <div class="case__body-block-item-info">
                        <div class="case__body-block-item-info-adv">
                            <img src="../images/dist/case__icon.png" alt="">
                            <div class="case__body-block-item-info-adv-text">
                                <span>ТОП-1</span>
                                <p>за три дня!</p>
                            </div>
                        </div>
                        <div class="case__body-block-item-info-main">
                            <span>Интернет-магазин <br>
                                iqos-terea-iluma.ru</span>
                            <a href="">
                                <span>Подробнее</span>
                                <svg width="17" height="17" viewBox="0 0 17 17" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 16L16 1M16 1V11.7463M16 1H4.64286" stroke="#2C2C2C" stroke-width="2"
                                        stroke-linecap="round" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="case__body-block-item">
                    <img class="item__back" src="../images/dist/Case.png" alt="">
                    <div class="case__body-block-item-tabs">
                        <div class="case__body-block-item-tabs-item">
                            Базовое SEO
                        </div>
                        <div class="case__body-block-item-tabs-item">
                            Яндекс, Москва
                        </div>
                    </div>
                    <div class="case__body-block-item-info">
                        <div class="case__body-block-item-info-adv">
                            <img src="../images/dist/case__icon.png" alt="">
                            <div class="case__body-block-item-info-adv-text">
                                <span>ТОП-3</span>
                                <p>за неделю!</p>
                            </div>
                        </div>
                        <div class="case__body-block-item-info-main">
                            <span>Онлайн-сервис
                                horoscoper.ru</span>
                            <a href="">
                                <span>Подробнее</span>
                                <svg width="17" height="17" viewBox="0 0 17 17" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 16L16 1M16 1V11.7463M16 1H4.64286" stroke="#2C2C2C" stroke-width="2"
                                        stroke-linecap="round" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>