<section class="choose">
    <div class="container">
        <div class="choose__body">
            <div class="choose__body-text">
                <h3 class="choose__body-text-title">
                    <img src="../images/dist/cost.png" alt="">
                    <span>Яндекс или Google: что выбрать?</span>
                </h3>
                <p class="choose__body-text-soft">
                    <span>Выбор между Яндексом и Google</span>
                    для продвижения сайта зависит от нескольких
                    ключевых факторов, включая целевую аудиторию
                    и региональные предпочтения
                </p>
            </div>
            <div class="choose__body-block">
                <img class="choose__img" src="../images/dist/choose.png" alt="">

                <div class="choose__body-block-start">
                    <svg width="30" height="28" viewBox="0 0 30 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M23.5579 7.27842L29.7166 13.3278C30.0945 13.6991 30.0945 14.3009 29.7166 14.6722L23.5579 20.7216C23.18 21.0928 22.5672 21.0928 22.1893 20.7216C21.8114 20.3504 21.8114 19.7485 22.1893 19.3773L26.6959 14.9506H0.967742C0.433273 14.9506 0 14.525 0 14C0 13.475 0.433273 13.0494 0.967742 13.0494H26.6959L22.1893 8.62273C21.8114 8.25151 21.8114 7.64964 22.1893 7.27842C22.5672 6.90719 23.18 6.90719 23.5579 7.27842Z"
                            fill="#2C2C2C" />
                    </svg>
                    <span>
                        Вот несколько пунктов, которые помогут Вам определиться с выбором:
                    </span>
                </div>
                <div class="choose__body-block-end">
                    <div class="choose__body-block-end-item">
                        <div class="choose__body-block-end-item-top">
                            <span>Кто Ваша аудитория?</span>
                            <div class="choose__body-block-end-item-top-plus">
                                <svg width="22" height="22" viewBox="0 0 22 22" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11 1V21M1 11H21" stroke="#2C2C2C" stroke-width="2"
                                        stroke-linecap="round" />
                                </svg>
                                <div class="circle"></div>
                            </div>
                        </div>
                        <p class="choose__body-block-end-item-bot">
                            Если Ваш бизнес ориентирован на российского потребителя
                            или русскоязычных пользователей в других странах, Яндекс будет оптимальным выбором. Эта
                            поисковая система традиционно популярна в России и странах СНГ.
                        </p>
                    </div>
                    <div class="choose__body-block-end-item">
                        <div class="choose__body-block-end-item-top">
                            <span>Где находятся Ваши клиенты?</span>
                            <div class="choose__body-block-end-item-top-plus">
                                <svg width="22" height="22" viewBox="0 0 22 22" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11 1V21M1 11H21" stroke="#2C2C2C" stroke-width="2"
                                        stroke-linecap="round" />
                                </svg>
                                <div class="circle"></div>
                            </div>
                        </div>
                        <p class="choose__body-block-end-item-bot">
                            Если Ваш бизнес ориентирован на российского потребителя
                            или русскоязычных пользователей в других странах, Яндекс будет оптимальным выбором. Эта
                            поисковая система традиционно популярна в России и странах СНГ.
                        </p>
                    </div>
                    <div class="choose__body-block-end-item">
                        <div class="choose__body-block-end-item-top">
                            <span>Особенности поисковых запросов</span>
                            <div class="choose__body-block-end-item-top-plus">
                                <svg width="22" height="22" viewBox="0 0 22 22" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11 1V21M1 11H21" stroke="#2C2C2C" stroke-width="2"
                                        stroke-linecap="round" />
                                </svg>
                                <div class="circle"></div>
                            </div>
                        </div>
                        <p class="choose__body-block-end-item-bot">
                            Если Ваш бизнес ориентирован на российского потребителя
                            или русскоязычных пользователей в других странах, Яндекс будет оптимальным выбором. Эта
                            поисковая система традиционно популярна в России и странах СНГ.
                        </p>
                    </div>
                    <div class="choose__body-block-end-item">
                        <div class="choose__body-block-end-item-top">
                            <span>Функциональные возможности</span>
                            <div class="choose__body-block-end-item-top-plus">
                                <svg width="22" height="22" viewBox="0 0 22 22" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11 1V21M1 11H21" stroke="#2C2C2C" stroke-width="2"
                                        stroke-linecap="round" />
                                </svg>
                                <div class="circle"></div>
                            </div>
                        </div>
                        <p class="choose__body-block-end-item-bot">
                            Если Ваш бизнес ориентирован на российского потребителя
                            или русскоязычных пользователей в других странах, Яндекс будет оптимальным выбором. Эта
                            поисковая система традиционно популярна в России и странах СНГ.
                        </p>
                    </div>
                    <div class="choose__body-block-end-item">
                        <div class="choose__body-block-end-item-top">
                            <span>Стратегия продвижения</span>
                            <div class="choose__body-block-end-item-top-plus">
                                <svg width="22" height="22" viewBox="0 0 22 22" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11 1V21M1 11H21" stroke="#2C2C2C" stroke-width="2"
                                        stroke-linecap="round" />
                                </svg>
                                <div class="circle"></div>
                            </div>
                        </div>
                        <p class="choose__body-block-end-item-bot">
                            Если Ваш бизнес ориентирован на российского потребителя
                            или русскоязычных пользователей в других странах, Яндекс будет оптимальным выбором. Эта
                            поисковая система традиционно популярна в России и странах СНГ.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>