<section class="cost">
    <div class="container">
        <div class="cost__body">
            <h3 class="cost__body-title">
                <img src="../images/dist/cost.png" alt="">
                <span>Стоимость SEO-продвижения в Яндекс</span>
            </h3>
            <div class="cost__body-info">
                <p>
                    Мы предлагаем эффективное SEO-продвижение в Яндексе, ориентированное на бизнесы любого размера.
                    Минимальная стоимость услуг составляет 70 000 рублей, окончательная цена зависит от специфики рынка
                    и выбранного количества ключевых запросов.
                    <br><br>
                    Наши эксперты также занимаются внешней оптимизацией
                    и разрабатывают семантическое ядро, чтобы ваше продвижение в Яндексе было максимально успешным.
                </p>
                <a href="#form" class="cost__body-info-btn">
                    Заказать услугу
                </a>
            </div>
        </div>
    </div>
</section>