<section class="filter">
    <div class="filter__body">
        <div class="filter__body-text">
            <h3 class="filter__body-text-title">
                <img src="../images/dist/cost.png" alt="">
                <span>Фильтры Яндекса в 2024 году</span>
            </h3>
            <div class="line"></div>
            <p>
                В 2024 году Яндекс продолжает борьбу с низкокачественным контентом
                и недобросовестными методами продвижения с помощью фильтров.
                Они призваны обеспечить пользователям высокое качество поисковой выдачи.
                Вот некоторые фильтры, на которые стоит обратить внимание:
            </p>
        </div>
        <div class="splide" role="group" aria-label="Splide Basic HTML Example">
            <div class="splide__arrows">
                <button class="splide__arrow splide__arrow--prev">
                    <svg width="11" height="18" viewBox="0 0 11 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1L9 8.68711L1.60222 17" stroke="#2C2C2C" stroke-width="2" stroke-linecap="round" />
                    </svg>
                </button>
                <button class="splide__arrow splide__arrow--next">
                    <svg width="11" height="18" viewBox="0 0 11 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1L9 8.68711L1.60222 17" stroke="#2C2C2C" stroke-width="2" stroke-linecap="round" />
                    </svg>
                </button>
            </div>
            <div class="splide__track">
                <ul class="splide__list">
                    <li class="splide__slide">
                        <span class="splide__slide-num">
                            01
                        </span>
                        <div class="line"></div>
                        <div class="splide__slide-info">
                            <div class="splide__slide-info-text">
                                <span>Переоптимизация</span>
                                <p>
                                    Яндекс стремится наказывать сайты, которые используют избыточное количество
                                    ключевых слов и другие агрессивные SEO-техники.
                                    В 2024 году этот фильтр стал ещё более чувствительным к признакам
                                    переоптимизации.
                                    <br><br>
                                    Важно сосредоточиться на создании естественного и полезного контента, который
                                    будет отвечать запросам пользователей.
                                </p>
                            </div>
                            <div class="splide__slide-info-wrap">
                                <img src="../images/dist/filter/1.png" alt="">
                            </div>
                        </div>
                    </li>
                    <li class="splide__slide">
                        <span class="splide__slide-num">
                            02
                        </span>
                        <div class="line"></div>
                        <div class="splide__slide-info">
                            <div class="splide__slide-info-text">
                                <span>Покупка ссылок</span>
                                <p>
                                    Покупка ссылок для улучшения позиций
                                    в поиске — давняя практика, но Яндекс активно борется с этим методом.
                                    <br><br>
                                    Вместо покупки ссылок рекомендуется инвестировать в качественный контент,
                                    который будет привлекать естественные обратные ссылки.
                                </p>
                            </div>
                            <div class="splide__slide-info-wrap">
                                <img src="../images/dist/filter/2.png" alt="">
                            </div>
                        </div>
                    </li>
                    <li class="splide__slide">
                        <span class="splide__slide-num">
                            03
                        </span>
                        <div class="line"></div>
                        <div class="splide__slide-info">
                            <div class="splide__slide-info-text">
                                <span>Некачественный контент</span>
                                <p>
                                    Яндекс постоянно совершенствует алгоритмы для выявления и исключения из выдачи
                                    сайтов с некачественным контентом. В 2024 году важность уникального и полезного
                                    контента продолжает расти.
                                    <br><br>
                                    Стремитесь создавать материалы, которые будут полезны вашей аудитории и отвечать
                                    на их запросы.
                                </p>
                            </div>
                            <div class="splide__slide-info-wrap">
                                <img src="../images/dist/filter/3.png" alt="">
                            </div>
                        </div>
                    </li>
                    <li class="splide__slide">
                        <span class="splide__slide-num">
                            04
                        </span>
                        <div class="line"></div>
                        <div class="splide__slide-info">
                            <div class="splide__slide-info-text">
                                <span>Недобросовестная реклама</span>
                                <p>
                                    Сайты, перегруженные рекламой, также могут попасть под санкции.
                                    <br><br>
                                    Яндекс стремится обеспечить пользователям комфортный поиск информации, поэтому
                                    важно соблюдать баланс между рекламным и информационным контентом на Вашем
                                    сайте.
                                </p>
                            </div>
                            <div class="splide__slide-info-wrap">
                                <img src="../images/dist/filter/4.png" alt="">
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>