<section class="filter">
    <div class="filter__body">
        <div class="filter__body-text">
            <h3 class="filter__body-text-title">
                <img src="../images/dist/cost.png" alt="">
                <span>Фильтры Яндекса в 2024 году</span>
            </h3>
            <div class="line"></div>
            <p>
                В 2024 году Яндекс продолжает борьбу с низкокачественным контентом
                и недобросовестными методами продвижения с помощью фильтров.
                Они призваны обеспечить пользователям высокое качество поисковой выдачи.
                Вот некоторые фильтры, на которые стоит обратить внимание:
            </p>
        </div>
        <div class="splide" role="group" aria-label="Splide Basic HTML Example">
            <div class="splide__arrows">
                <button class="splide__arrow splide__arrow--prev">
                    <svg width="11" height="18" viewBox="0 0 11 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1L9 8.68711L1.60222 17" stroke="#2C2C2C" stroke-width="2" stroke-linecap="round" />
                    </svg>
                </button>
                <button class="splide__arrow splide__arrow--next">
                    <svg width="11" height="18" viewBox="0 0 11 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1L9 8.68711L1.60222 17" stroke="#2C2C2C" stroke-width="2" stroke-linecap="round" />
                    </svg>
                </button>
            </div>
            <div class="splide__track">
                <ul class="splide__list">
                    <li class="splide__slide">
                        <div class="splide__slide-name">
                            <img src="../images/dist/prod/1.png" alt="">
                            <span>Коммерческие</span>
                        </div>
                        <div class="splide__slide-info">
                            <p class="splide__slide-info-desc">
                                Связаны с предложением Вашего сайта и тем, насколько хорошо оно<br> соответствует ожиданиям потенциальных клиентов 
                            </p>
                            <div class="splide__slide-info-line"></div>
                            <div class="splide__slide-info-list">
                                <span>Эти факторы включают в себя:</span>
                                <ul>
                                    <li>Предложение</li>
                                    <li>Наличие отзывов</li>
                                    <li>Удобство использования сайта</li>
                                    <li>Адаптация под мобильные <br> устройства</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>