<footer class="footer">
    <div class="container">
        <div class="footer__body">
            <h2 class="footer__body-title">
                SEO Performance <br> Agency
            </h2>
            <div class="footer__body-info">
                <div class="footer__body-info-main">
                    <a class="footer__body-info-main-tel" href="tel:+74952410680">+7 (495) 241-06-80</a>
                    <a class="footer__body-info-main-mail" href="mailto:info@seo-performance.ru">info@seo-performance.ru</a>
                    <div class="footer__body-info-main-social">
                        <a href="vk.com/seo.performance" class="footer__body-info-main-social-item">
                            <img src="../images/dist/social/1.png" alt="">
                        </a>
                        <a href="https://api.whatsapp.com/send/?phone=74952410680&text&type=phone_number&app_absent=0" class="footer__body-info-main-social-item">
                            <img src="../images/dist/social/2.png" alt="">
                        </a>
                        <a href="https://t.me/SeoPerformanceAgency" class="footer__body-info-main-social-item">
                            <img src="../images/dist/social/3.png" alt="">
                        </a>
                        <a href="www.youtube.com/@seoperformance" class="footer__body-info-main-social-item">
                            <img src="../images/dist/social/4.png" alt="">
                        </a>
                    </div>
                </div>
                <nav class="footer__body-info-menu">
                    <ul class="footer__body-info-menu-item">
                        <li class="footer__body-info-menu-item-link">
                            <a href="">Главная</a>
                        </li>
                        <li class="footer__body-info-menu-item-link active">
                            <a href="https://seo-performance.ru/uslugi/">Услуги</a>
                        </li>
                        <li class="footer__body-info-menu-item-link">
                            <a href="https://seo-performance.ru/keysi/">Кейсы</a>
                        </li>
                        <li class="footer__body-info-menu-item-link">
                            <a href="https://seo-performance.ru/komanda/">Команда</a>
                        </li>
                    </ul>
                    <ul class="footer__body-info-menu-item">
                        <li class="footer__body-info-menu-item-link">
                            <a href="https://seo-performance.ru/o-kompanii/">О компании</a>
                        </li>
                        <li class="footer__body-info-menu-item-link">
                            <a href="https://seo-performance.ru/contacts/">Контакты</a>
                        </li>
                        <li class="footer__body-info-menu-item-link">
                            <a href="https://seo-performance.ru/contacts/">Партнерам</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="footer__body-copy">
                <p class="footer__body-copy-address">
                    г. Москва, Волоколамсакое ш., 2 <br>
                    БЦ «Гидропроект»
                </p>
                <a href="" class="footer__body-copy-link">
                    Пользовательское соглашение 
                </a>
                <a href="" class="footer__body-copy-link">
                    Политика конфиденциальности
                </a>
            </div>
        </div>
    </div>
</footer>