<section id="form" class="form">
    <div class="container">
        <div class="form__body">
            <h3 class="form__body-title">
                Не упусти возможность воспользоваться нашей услугой — продвижение сайта в Яндексе
                и попасть в ТОП!
            </h3>
            <div class="form__body-main">
                <input name="tel" id="tel" placeholder="+7 (___) ___-__-__" type="text">
                <input id="link" name="link" placeholder="Адрес сайта" type="text">
                <button class="form__body-main-btn">
                    Оставить заявку
                </button>
            </div>
            <div class="checkbox">
                <input class="custom-checkbox" type="checkbox" id="color-1" name="color-1" value="indigo">
                <label for="color-1">Я даю согласие на обработку своих персональных данных, согласно <a href="">политике конфиденциальности</a></label>
            </div>
        </div>
    </div>
</section>