<header class="header">
    <div class="container">
        <div class="header__body">
            <a href="" class="header__body-logo">
                <img src="../images/dist/header__logo.png" alt="">
            </a>
            <nav class="header__body-menu">
                <ul class="header__body-menu-list">
                    <li class="header__body-menu-list-item">
                        <a href="">Главная</a>
                    </li>
                    <li class="header__body-menu-list-item active">
                        <a href="https://seo-performance.ru/uslugi/">Услуги</a>
                    </li>
                    <li class="header__body-menu-list-item">
                        <a href="https://seo-performance.ru/keysi/">Кейсы</a>
                    </li>
                    <li class="header__body-menu-list-item">
                        <a href="https://seo-performance.ru/komanda/">Команда</a>
                    </li>
                    <li class="header__body-menu-list-item">
                        <a href="https://seo-performance.ru/o-kompanii/">О компании</a>
                    </li>
                    <li class="header__body-menu-list-item">
                        <a href="https://seo-performance.ru/contacts/">Контакты</a>
                    </li>
                    <li class="header__body-menu-list-item">
                        <a href="https://seo-performance.ru/contacts/">Партнерам</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>