<section class="idea">
    <img class="idea__back" src="../images/dist/idea.png" alt="">
    <div class="container">
        <div class="idea__body">
            <div class="idea__body-text">
                <h3 class="idea__body-text-title">
                    Особенности оптимизации сайта под Яндекс
                </h3>
                <div class="idea__body-text-line"></div>
                <p class="idea__body-text-desc">
                    Основная идея Яндекса заключается в том, чтобы предоставлять пользователю наиболее подходящие и ценные страницы. 
                    В этом контексте особое значение приобретают не столько ключевые слова, сколько LSI. 
                    <br><br>
                    Алгоритмы Яндекса уделяют внимание качеству текста, его объему 
                    и реальной ценности для читателя, благодаря чему даже маленькие сайты с несколькими качественными статьями могут выйти в ТОП.
                </p>
            </div>
            <div class="idea__body-block">
                <span class="idea__body-block-name">
                    <img src="../images/dist/wt__title.png" alt="">
                    Три ключевых алгоритма Яндекс для анализа сайтов
                </span>
                <div class="idea__body-block-items">
                    <div class="idea__body-block-items-item">
                        <span>Баден-Баден</span>
                        <div class="line"></div>
                        <p>Проверяет тексты на перегрузку ключевыми словами и клише, отсеивая материалы, созданные исключительно для поисковых систем и не приносящие пользы читателям.</p>
                    </div>
                    <div class="idea__body-block-items-item">
                        <span>Королев</span>
                        <div class="line"></div>
                        <p>Оценивает соответствие контента основной тематике сайта, контролируя использование ключевых слов, 
                            не связанных с содержанием текста.</p>
                    </div>
                    <div class="idea__body-block-items-item">
                        <span>Минусинск</span>
                        <div class="line"></div>
                        <p>Анализирует качество входящих ссылок, исключая те, что не соответствуют теме сайта. Ресурсы, накапливающие ссылочную массу недобросовестными методами, блокируются.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>