<main class="main">
    <img src="../images/dist/main/1.png" alt="">
    <img src="../images/dist/main/2.png" alt="">
    <div class="container">
        <div class="main__body">
            <div class="main__body-tabs">
                <span>Яндекс</span>
                <span>SEO продвижение</span>
            </div>
            <h1 class="main__body-title">
                Поможем Вашему сайту <br>
                попасть в ТОП-10 результатов <br>
                поиска в Яндекс
            </h1>
            <p class="main__body-desc">
                Мы понимаем, как сложно добиться высоких позиций в поисковой системе Яндекс, поэтому мы готовы поделиться знаниями и инструментами, которые помогут Вашему сайту вырваться в лидеры
            </p>
            <a href="#form" class="main__body-btn">
                Заказать услугу
            </a>
        </div>
    </div>
</main>