<section class="prod">
    <div class="container">
        <div class="prod__body">
            <div class="prod__body-text">
                <h3 class="prod__body-text-title">
                    <img src="../images/dist/cost.png" alt="">
                    <span>Как продвигаться с помощью Яндекса</span>
                </h3>
                <p>Продвижение сайта в Яндексе требует внимания к множеству факторов, которые можно разделить на
                    коммерческие
                    и поведенческие. Каждая из этих категорий очень важна для того, чтобы Ваш сайт оказался высоко в
                    поиске и привлек к себе целевую аудиторию.
                </p>
            </div>
            <div class="prod__body-block">
                <div class="prod__body-block-item">
                    <div class="prod__body-block-item-name">
                        <img src="../images/dist/prod/1.png" alt="">
                        <span>Коммерческие</span>
                    </div>
                    <div class="prod__body-block-item-info">
                        <p class="prod__body-block-item-info-desc">
                            Связаны с предложением Вашего сайта и тем, насколько хорошо оно<br> соответствует ожиданиям потенциальных клиентов 
                        </p>
                        <div class="prod__body-block-item-info-line"></div>
                        <div class="prod__body-block-item-info-list">
                            <span>Эти факторы включают в себя:</span>
                            <ul>
                                <li>Предложение</li>
                                <li>Наличие отзывов</li>
                                <li>Удобство использования сайта</li>
                                <li>Адаптация под мобильные <br> устройства</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="prod__body-block-item">
                    <div class="prod__body-block-item-name">
                        <img src="../images/dist/prod/2.png" alt="">
                        <span>Поведенческие</span>
                    </div>
                    <div class="prod__body-block-item-info">
                        <p class="prod__body-block-item-info-desc">
                            Отражают то, как пользователи взаимодействуют с Вашим сайтом
                        </p>
                        <div class="prod__body-block-item-info-line"></div>
                        <div class="prod__body-block-item-info-list">
                            <span>Основные факторы:</span>
                            <ul>
                                <li>Время на сайте</li>
                                <li>Глубина просмотра</li>
                                <li>Показатель отказов</li>
                                <li>Взаимодействие с контентом</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>