<section class="search">
    <div class="container">
        <div class="search__body">
            <h3 class="search__body-title">
                <img src="../images/dist/cost.png" alt="">
                <span>Алгоритмы поиска Яндекса в 2024 году</span>
            </h3>
            <div class="search__body-block">
                <div class="search__body-block-start">
                    <img src="../images/dist/search.png" alt="">
                    <p>В 2024 году алгоритмы Яндекса стали еще более продвинутыми. Когда пользователи делают запросы, они
                        активируют систему.
                        Она выбирает наиболее подходящие страницы, не просто ориентируясь
                        на ключевые слова, но и анализируя сам контент.
                    </p>
                </div>
                <div class="search__body-block-end">
                    <div class="search__body-block-end-item">
                        <div class="search__body-block-end-item-title">
                            <span>Алгоритм «Вега»</span>
                            <p>01</p>
                        </div>
                        <p class="search__body-block-end-item-desc">помогает поисковой системе группировать результаты по
                            смыслу, собирая вместе страницы с похожим
                            контентом</p>
                    </div>
                    <div class="search__body-block-end-item">
                        <div class="search__body-block-end-item-title">
                            <span>Технология Yati</span>
                            <p>02</p>
                        </div>
                        <p class="search__body-block-end-item-desc">продолжая идею алгоритмов «Королев»
                            и «Палех», учитывает не только ключевики, но и заголовки, структуру текста и контекст, делая
                            поиск точнее</p>
                    </div>
                    <div class="search__body-block-end-item">
                        <div class="search__body-block-end-item-title">
                            <span>Алгоритмы Proxima
                                и «Андромеда»</span>
                            <p>03</p>
                        </div>
                        <p class="search__body-block-end-item-desc">
                            ускоряют получение ответов в Яндексе, вносят вклад в качество поисковой выдачи
                            и обогащают раздел изображений функцией «Коллекции»
                        </p>
                    </div>
                    <div class="search__body-block-end-item">
                        <div class="search__body-block-end-item-title">
                            <span>Алгоритмы Y1 и Y2 </span>
                            <p>04</p>
                        </div>
                        <p class="search__body-block-end-item-desc">
                            расширяют границы SEO, признавая
                            и анализируя не только текст, но и видео,
                            а также отзывы пользователей
                        </p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>