<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/hero-new" rel="stylesheet">
    <link href="
https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css
" rel="stylesheet">
    <link rel="stylesheet" href="../scss/style.min.css">
    <title>Seoperfomance</title>
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header__body">
                <a href="" class="header__body-logo">
                    <img src="../images/dist/header__logo.png" alt="">
                </a>
                <nav class="header__body-menu">
                    <ul class="header__body-menu-list">
                        <li class="header__body-menu-list-item">
                            <a href="">Главная</a>
                        </li>
                        <li class="header__body-menu-list-item active">
                            <a href="https://seo-performance.ru/uslugi/">Услуги</a>
                        </li>
                        <li class="header__body-menu-list-item">
                            <a href="https://seo-performance.ru/keysi/">Кейсы</a>
                        </li>
                        <li class="header__body-menu-list-item">
                            <a href="https://seo-performance.ru/komanda/">Команда</a>
                        </li>
                        <li class="header__body-menu-list-item">
                            <a href="https://seo-performance.ru/o-kompanii/">О компании</a>
                        </li>
                        <li class="header__body-menu-list-item">
                            <a href="https://seo-performance.ru/contacts/">Контакты</a>
                        </li>
                        <li class="header__body-menu-list-item">
                            <a href="https://seo-performance.ru/contacts/">Партнерам</a>
                        </li>
                    </ul>
                </nav>
                <div class="burger mob">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </header>
    <main class="main">
        <img src="../images/dist/main/1.png" alt="">
        <img src="../images/dist/main/2.png" alt="">
        <div class="container">
            <div class="main__body">
                <div class="main__body-tabs">
                    <p>SEO-<span>копирайтинг</span></p>
                </div>
                <h1 class="main__body-title">
                    Предлагаем услуги <br>
                    копирайтинга с SEO-оптимизацией
                </h1>
                <p class="main__body-desc">
                    SEO копирайтинг - услуги копирайтинга и написания текстов для сайта в Москве. Работаем с разными
                    видами текстов и предлагаем комплексный подход к созданию контента для вашего сайта.
                </p>
                <a href="#form" class="main__body-btn">
                    Заказать услугу
                </a>
            </div>
        </div>
    </main>
    <section class="stage">
        <div class="container">
            <h3 class="stage__body-title">
                <img src="../images/dist/cost.png" alt="">
                <span>Этапы работы по SEO-копирайтингу</span>
            </h3>
            <div class="stage__body-block">
                <div class="stage__body-block-item">
                    <img src="../images/dist/stage/1.png" alt="">
                    <div class="stage__body-block-item-attr">
                        <p>01 <span>/ 06</span></p>
                    </div>
                    <div class="stage__body-block-item-text">
                        <span>Анализ <br>
                            и исследование</span>
                        <p>
                            На этом этапе мы детально изучаем бизнес, целевую аудиторию и конкурентов.
                            <br><br>
                            Анализируем текущие позиции сайта в поисковых системах, а также существующий контент.
                            Это помогает нам понять, какие тексты и ключевые слова будут наиболее эффективны для
                            продвижения.
                        </p>
                    </div>
                </div>
                <div class="line"></div>
                <div class="stage__body-block-item">
                    <img src="../images/dist/stage/2.png" alt="">
                    <div class="stage__body-block-item-attr">
                        <p>02 <span>/ 06</span></p>
                    </div>
                    <div class="stage__body-block-item-text">
                        <span>
                            Планирование <br>
                            и стратегия
                        </span>
                        <p>
                            Основываясь на данных, мы разрабатываем стратегию создания контента, определяем тему
                            текстов  и подбираем ключевые слова.
                            <br><br>
                            На этом этапе мы также определяем, какой тип контента — информационные или продающие статьи,
                            коммерческое предложение или рекламные тексты — будет наиболее полезен для сайта.
                        </p>
                    </div>
                </div>
                <div class="line"></div>
                <div class="stage__body-block-item">
                    <img src="../images/dist/stage/3.png" alt="">
                    <div class="stage__body-block-item-attr">
                        <p>03 <span>/ 06</span></p>
                    </div>
                    <div class="stage__body-block-item-text">
                        <span>
                            Написание<br>
                            статьи
                        </span>
                        <p>
                            После утверждения плана копирайтеры приступают
                            к созданию текста.
                            <br><br>
                            Наши статьи ориентированы на улучшение пользовательского опыта, что способствует повышению
                            вовлеченности и увеличению времени пребывания на страницах сайта.
                        </p>
                    </div>
                </div>
                <div class="line"></div>
                <div class="stage__body-block-item">
                    <img src="../images/dist/stage/4.png" alt="">
                    <div class="stage__body-block-item-attr">
                        <p>04 <span>/ 06</span></p>
                    </div>
                    <div class="stage__body-block-item-text">
                        <span>
                            Написание<br>
                            статьи
                        </span>
                        <p>
                            После утверждения плана копирайтеры приступают
                            к созданию текста.
                            <br><br>
                            Наши статьи ориентированы на улучшение пользовательского опыта, что способствует повышению
                            вовлеченности и увеличению времени пребывания на страницах сайта.
                        </p>
                    </div>
                </div>
                <div class="line"></div>
                <div class="stage__body-block-item">
                    <img src="../images/dist/stage/1.png" alt="">
                    <div class="stage__body-block-item-attr">
                        <p>05 <span>/ 06</span></p>
                    </div>
                    <div class="stage__body-block-item-text">
                        <span>
                            Написание<br>
                            статьи
                        </span>
                        <p>
                            После утверждения плана копирайтеры приступают
                            к созданию текста.
                            <br><br>
                            Наши статьи ориентированы на улучшение пользовательского опыта, что способствует повышению
                            вовлеченности и увеличению времени пребывания на страницах сайта.
                        </p>
                    </div>
                </div>
                <div class="line"></div>
                <div class="stage__body-block-item">
                    <img src="../images/dist/stage/2.png" alt="">
                    <div class="stage__body-block-item-attr">
                        <p>06 <span>/ 06</span></p>
                    </div>
                    <div class="stage__body-block-item-text">
                        <span>
                            Написание<br>
                            статьи
                        </span>
                        <p>
                            После утверждения плана копирайтеры приступают
                            к созданию текста.
                            <br><br>
                            Наши статьи ориентированы на улучшение пользовательского опыта, что способствует повышению
                            вовлеченности и увеличению времени пребывания на страницах сайта.
                        </p>
                    </div>
                </div>
                <div class="line"></div>
            </div>
        </div>
    </section>
    <section class="services">
        <div class="container">
            <div class="services__body">
                <h3 class="services__body-title">
                    <img src="../images/dist/cost.png" alt="">
                    <span>SEO-текст для продвижения в поисковой выдаче</span>
                </h3>
                <div class="services__body-block">
                    <div class="services__body-block-item">
                        <div class="services__body-block-item-text">
                            <p class="services__body-block-item-text-number">
                                <img src="../images/dist/serv/1.png" alt="">
                            </p>
                            <span class="services__body-block-item-text-name">
                                SEO-копирайтинг
                            </span>
                        </div>
                        <p class="services__body-block-item-desc">Важный инструмент в продвижении сайтов. Если Вы
                            хотите, чтобы Ваш сайт привлекал больше
                            посетителей, то эффективный SEO-текст — это то, что Вам нужно.</p>
                    </div>
                    <div class="services__body-block-item">
                        <div class="services__body-block-item-text">
                            <p class="services__body-block-item-text-number">
                                <img src="../images/dist/serv/2.png" alt="">
                            </p>
                            <span class="services__body-block-item-text-name">
                                SEO-текст
                            </span>
                        </div>
                        <p class="services__body-block-item-desc">Специально оптимизированный контент, который создается
                            с учетом требований поисковых систем для повышения видимости сайта в поисковой выдаче.
                            Основная цель — привлечение целевой аудитории на сайт через органический трафик.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="choose">
        <div class="container">
            <div class="choose__body">
                <div class="choose__body-text">
                    <p class="choose__body-text-soft">
                        Правильно составленные и оптимизированные
                        тексты помогут Вам улучшить позиции в поисковых
                        системах, привлечь больше целевой аудитории
                        <span>и увеличить конверсию на сайте</span>
                    </p>
                </div>
                <div class="choose__body-block">
                    <img class="choose__img" src="../images/dist/choose.png" alt="">

                    <div class="choose__body-block-start">
                        <svg width="30" height="28" viewBox="0 0 30 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M23.5579 7.27842L29.7166 13.3278C30.0945 13.6991 30.0945 14.3009 29.7166 14.6722L23.5579 20.7216C23.18 21.0928 22.5672 21.0928 22.1893 20.7216C21.8114 20.3504 21.8114 19.7485 22.1893 19.3773L26.6959 14.9506H0.967742C0.433273 14.9506 0 14.525 0 14C0 13.475 0.433273 13.0494 0.967742 13.0494H26.6959L22.1893 8.62273C21.8114 8.25151 21.8114 7.64964 22.1893 7.27842C22.5672 6.90719 23.18 6.90719 23.5579 7.27842Z"
                                fill="#2C2C2C" />
                        </svg>
                        <span>
                            Для чего нужен SEO-текст для продвижения <br>
                            в поисковой выдаче?
                        </span>
                    </div>
                    <div class="choose__body-block-end">
                        <div class="choose__body-block-end-item">
                            <div class="choose__body-block-end-item-top">
                                <span>Улучшение позиций в поисковых системах</span>
                                <div class="choose__body-block-end-item-top-plus">
                                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M11 1V21M1 11H21" stroke="#2C2C2C" stroke-width="2"
                                            stroke-linecap="round" />
                                    </svg>
                                    <div class="circle"></div>
                                </div>
                            </div>
                            <p class="choose__body-block-end-item-bot">
                                SEO-тексты содержат ключевые слова, которые поисковые системы используют для
                                индексирования страниц.
                                <br><br>
                                Хорошо написанный текст помогает поисковым системам понять, о чем Ваш сайт, и поднять
                                его позиции в поисковой выдаче.
                                Это особенно важно для привлечения органического трафика.
                            </p>
                        </div>
                        <div class="choose__body-block-end-item">
                            <div class="choose__body-block-end-item-top">
                                <span>Привлечение целевой аудитории</span>
                                <div class="choose__body-block-end-item-top-plus">
                                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M11 1V21M1 11H21" stroke="#2C2C2C" stroke-width="2"
                                            stroke-linecap="round" />
                                    </svg>
                                    <div class="circle"></div>
                                </div>
                            </div>
                            <p class="choose__body-block-end-item-bot">
                                Оптимизированные тексты работают как магнит
                                для пользователей, которые активно ищут информацию
                                или товары в интернете.
                                <br><br>
                                SEO-тексты с правильно подобранными ключевыми словами привлекают на сайт именно тех
                                пользователей, которые заинтересованы в вашем продукте или услугах.
                            </p>
                        </div>
                        <div class="choose__body-block-end-item">
                            <div class="choose__body-block-end-item-top">
                                <span>Увеличение конверсии</span>
                                <div class="choose__body-block-end-item-top-plus">
                                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M11 1V21M1 11H21" stroke="#2C2C2C" stroke-width="2"
                                            stroke-linecap="round" />
                                    </svg>
                                    <div class="circle"></div>
                                </div>
                            </div>
                            <p class="choose__body-block-end-item-bot">
                                Оптимизированные тексты не только привлекают посетителей
                                на сайт, но и побуждают их к действию – будь то покупка товара, оформление заявки или
                                подписка на рассылку.
                                <br><br>
                                Качественные тексты мотивируют пользователей и создают благоприятные условия для
                                увеличения конверсии.
                            </p>
                        </div>
                        <div class="choose__body-block-end-item">
                            <div class="choose__body-block-end-item-top">
                                <span>Повышение доверия к сайту</span>
                                <div class="choose__body-block-end-item-top-plus">
                                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M11 1V21M1 11H21" stroke="#2C2C2C" stroke-width="2"
                                            stroke-linecap="round" />
                                    </svg>
                                    <div class="circle"></div>
                                </div>
                            </div>
                            <p class="choose__body-block-end-item-bot">
                                Релевантный контент способствует формированию доверия
                                у посетителей.
                                <br><br>
                                Если текст на сайте предоставляет полезную и точную информацию, пользователи с большей
                                вероятностью останутся на нем, что положительно скажется на его репутации
                                и рейтинге в поисковых системах.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="google">
        <img class="google__back" src="../images/dist/gogle.png" alt="">
        <div class="container">
            <div class="google__body">
                <h3 class="google__body-title">
                    Почему для SEO-оптимизации
                    стоит выбрать именно нас?
                </h3>
                <div class="line"></div>
                <p class="google__body-desc">
                    Мы предлагаем услуги копирайтера с уникальным подходом
                    к каждому проекту. Наше агентство копирайтинга предоставляет качественные тексты благодаря работе
                    опытных специалистов.
                    Мы разрабатываем контент с учетом особенностей вашего бизнеса
                    и аудитории.
                </p>
                <div class="google__body-block">
                    <div class="google__body-block-item">
                        <img src="../images/dist/google/1.png" alt="">
                        <div class="google__body-block-item-text">
                            <span>Индивидуальный подход</span>
                            <div class="line"></div>
                            <p>
                                Каждое задание выполняется с учетом специфики вашего бизнеса и целевой аудитории.
                            </p>
                        </div>
                    </div>
                    <div class="google__body-block-item">
                        <img src="../images/dist/google/2.png" alt="">
                        <div class="google__body-block-item-text">
                            <span>Качество
                                и уникальность</span>
                            <div class="line"></div>
                            <p>
                                Мы гарантируем, что тексты будут соответствовать вашим ожиданиям.
                            </p>
                        </div>
                    </div>
                    <div class="google__body-block-item">
                        <img src="../images/dist/google/3.png" alt="">
                        <div class="google__body-block-item-text">
                            <span>Соблюдение сроков выполнения работ</span>
                            <div class="line"></div>
                            <p>
                                Вы получите готовые материалы
                                в оговоренные сроки.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="cost">
        <div class="container">
            <div class="cost__body">
                <h3 class="cost__body-title">
                    <img src="../images/dist/cost.png" alt="">
                    <span>Стоимость услуг копирайтинга</span>
                </h3>
                <div class="cost__body-info">
                    <p>
                        Стоимость услуг копирайтера начинается от 40 000 рублей.
                        Цена копирайтера зависит от объема работы. Мы гарантируем качественные тексты с учетом всех
                        требований поисковых систем
                        для максимального продвижения вашего сайта в результатах поиска.
                        <br><br>
                        Чтобы заказать копирайтинг для своего бизнеса, оставьте заявку на сайте,
                        и наши менеджеры свяжутся с вами в ближайшее время!
                    </p>
                    <a href="#form" class="cost__body-info-btn">
                        Заказать услугу
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="case">
        <div class="container">
            <div class="case__body">
                <h3 class="case__body-title">
                    <img src="../images/dist/cost.png" alt="">
                    <span>Наши кейсы</span>
                </h3>
                <div class="case__body-block">
                    <div class="case__body-block-item">
                        <img class="item__back" src="../images/dist/Case.png" alt="">
                        <div class="case__body-block-item-tabs">
                            <div class="case__body-block-item-tabs-item">
                                Оптимизация текста
                            </div>
                            <div class="case__body-block-item-tabs-item">
                                Вывод в ТОП
                            </div>
                            <div class="case__body-block-item-tabs-item">
                                Продвижение по ключевым словам
                            </div>
                        </div>
                        <div class="case__body-block-item-info">
                            <div class="case__body-block-item-info-adv">
                                <img src="../images/dist/case__icon.png" alt="">
                                <div class="case__body-block-item-info-adv-text">
                                    <span>90%</span>
                                    <p>ключевых запросов
                                        в ТОПе</p>
                                </div>
                            </div>
                            <div class="case__body-block-item-info-main">
                                <span>Статья для компании PassPortu</span>
                                <a href="">
                                    <span>Подробнее</span>
                                    <svg width="17" height="17" viewBox="0 0 17 17" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 16L16 1M16 1V11.7463M16 1H4.64286" stroke="#2C2C2C" stroke-width="2"
                                            stroke-linecap="round" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="case__body-block-item">
                        <img class="item__back" src="../images/dist/Case.png" alt="">
                        <div class="case__body-block-item-tabs">
                            <div class="case__body-block-item-tabs-item">
                                SEO-копирайтинг
                            </div>
                            <div class="case__body-block-item-tabs-item">
                                Копирайтинг Москва
                            </div>
                            <div class="case__body-block-item-tabs-item">
                                В ТОП за 1 день
                            </div>
                        </div>
                        <div class="case__body-block-item-info">
                            <div class="case__body-block-item-info-adv">
                                <img src="../images/dist/case__icon.png" alt="">
                                <div class="case__body-block-item-info-adv-text">
                                    <span>60%</span>
                                    <p>ключевых запросов
                                        в ТОПе</p>
                                </div>
                            </div>
                            <div class="case__body-block-item-info-main">
                                <span>Статья для сервиса
                                    по управлению посуточной
                                    недвижимостью</span>
                                <a href="">
                                    <span>Подробнее</span>
                                    <svg width="17" height="17" viewBox="0 0 17 17" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 16L16 1M16 1V11.7463M16 1H4.64286" stroke="#2C2C2C" stroke-width="2"
                                            stroke-linecap="round" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="case__body-block-item">
                        <img class="item__back" src="../images/dist/Case.png" alt="">
                        <div class="case__body-block-item-tabs">
                            <div class="case__body-block-item-tabs-item">
                                SEO-копирайтинг
                            </div>
                            <div class="case__body-block-item-tabs-item">
                                Вывод в ТОП
                            </div>
                            <div class="case__body-block-item-tabs-item">
                                Продвижение Яндекс
                            </div>
                        </div>
                        <div class="case__body-block-item-info">
                            <div class="case__body-block-item-info-adv">
                                <img src="../images/dist/case__icon.png" alt="">
                                <div class="case__body-block-item-info-adv-text">
                                    <span>70%</span>
                                    <p>ключевых запросов
                                        в ТОПе
                                    </p>
                                </div>
                            </div>
                            <div class="case__body-block-item-info-main">
                                <span>Статья для компании
                                    по продаже окон</span>
                                <a href="">
                                    <span>Подробнее</span>
                                    <svg width="17" height="17" viewBox="0 0 17 17" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 16L16 1M16 1V11.7463M16 1H4.64286" stroke="#2C2C2C" stroke-width="2"
                                            stroke-linecap="round" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="review">
        <div class="container">
            <div class="review__body">
                <h3 class="review__body-title">
                    <img src="../images/dist/cost.png" alt="">
                    <span>Отзывы</span>
                </h3>
                <span class="review__body-span">
                    Что клиенты говорят о нас?
                </span>
                <div class="splide" id="review" role="group" aria-label="Splide Basic HTML Example">
                    <div class="splide__arrows">
                        <button class="splide__arrow splide__arrow--prev">
                            <svg width="20" height="15" viewBox="0 0 20 15" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M1.24023 6.5C0.68795 6.5 0.240234 6.94772 0.240234 7.5C0.240234 8.05228 0.68795 8.5 1.24023 8.5V6.5ZM19.4653 8.20711C19.8559 7.81658 19.8559 7.18342 19.4653 6.79289L13.1014 0.428932C12.7109 0.0384078 12.0777 0.0384078 11.6872 0.428932C11.2966 0.819457 11.2966 1.45262 11.6872 1.84315L17.344 7.5L11.6872 13.1569C11.2966 13.5474 11.2966 14.1805 11.6872 14.5711C12.0777 14.9616 12.7109 14.9616 13.1014 14.5711L19.4653 8.20711ZM1.24023 8.5H18.7582V6.5H1.24023V8.5Z"
                                    fill="black" />
                            </svg>
                        </button>
                        <button class="splide__arrow splide__arrow--next">
                            <svg width="20" height="15" viewBox="0 0 20 15" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M1.24023 6.5C0.68795 6.5 0.240234 6.94772 0.240234 7.5C0.240234 8.05228 0.68795 8.5 1.24023 8.5V6.5ZM19.4653 8.20711C19.8559 7.81658 19.8559 7.18342 19.4653 6.79289L13.1014 0.428932C12.7109 0.0384078 12.0777 0.0384078 11.6872 0.428932C11.2966 0.819457 11.2966 1.45262 11.6872 1.84315L17.344 7.5L11.6872 13.1569C11.2966 13.5474 11.2966 14.1805 11.6872 14.5711C12.0777 14.9616 12.7109 14.9616 13.1014 14.5711L19.4653 8.20711ZM1.24023 8.5H18.7582V6.5H1.24023V8.5Z"
                                    fill="black" />
                            </svg>
                        </button>
                    </div>

                    <div class="splide__track">
                        <ul class="splide__list">
                            <li class="splide__slide review__body-slide">
                                <div class="review__body-slide-top">
                                    <div class="review__body-slide-top-info">
                                        <img src="../images/dist/rev/1.png" alt="">
                                        <div class="review__body-slide-top-infp-text">
                                            <span>Ilya N.</span>
                                            <p>5 июня 2024</p>
                                        </div>
                                    </div>
                                    <div class="review__body-slide-top-rating">
                                        <span>5.0</span>
                                        <div class="review__body-slide-top-rating-items">
                                            <img src="../images/dist/Star.png" alt="">
                                            <img src="../images/dist/Star.png" alt="">
                                            <img src="../images/dist/Star.png" alt="">
                                            <img src="../images/dist/Star.png" alt="">
                                            <img src="../images/dist/Star.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <p class="review__body-slide-bot">
                                    Отличное SEO агентство! Сотрудники компании настоящие профессионалы своего дела. За
                                    короткий срок смогли увеличить трафик, позиции в поисковой системе теперь
                                    в ТОПе. Благодарен Михаилу за проделанную работу, надеюсь на плодотворное
                                    сотрудничество в дальнейшем 👍
                                </p>
                            </li>
                            <li class="splide__slide review__body-slide">
                                <div class="review__body-slide-top">
                                    <div class="review__body-slide-top-info">
                                        <img src="../images/dist/rev/2.png" alt="">
                                        <div class="review__body-slide-top-infp-text">
                                            <span>Света Кот</span>
                                            <p>20 мая 2024</p>
                                        </div>
                                    </div>
                                    <div class="review__body-slide-top-rating">
                                        <span>5.0</span>
                                        <div class="review__body-slide-top-rating-items">
                                            <img src="../images/dist/Star.png" alt="">
                                            <img src="../images/dist/Star.png" alt="">
                                            <img src="../images/dist/Star.png" alt="">
                                            <img src="../images/dist/Star.png" alt="">
                                            <img src="../images/dist/Star.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <p class="review__body-slide-bot">
                                    Продвижение своего сайта доверила специалистам этого агентства и не прогадала. За
                                    небольшие сроки сайт поднялся в выдаче, и количество клиентов увеличилось. Теперь
                                    буду сотрудничать с этим агентством на постоянной основе.
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="form" class="form">
        <div class="container">
            <div class="form__body">
                <h3 class="form__body-title">
                    Чтобы заказать SEO продвижение сайта в Москве, оставьте заявку и мы свяжемся с Вами
                    для обсуждения проекта и индивидуального расчета стоимости
                </h3>
                <div class="form__body-main">
                    <input name="tel" id="tel" placeholder="+7 (___) ___-__-__" type="text">
                    <input id="link" name="link" placeholder="Адрес сайта" type="text">
                    <button class="form__body-main-btn">
                        Оставить заявку
                    </button>
                </div>
                <div class="checkbox">
                    <input class="custom-checkbox" type="checkbox" id="color-1" name="color-1" value="indigo">
                    <label for="color-1">Я даю согласие на обработку своих персональных данных, согласно <a
                            href="">политике конфиденциальности</a></label>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="container">
            <div class="footer__body">
                <h2 class="footer__body-title">
                    SEO Performance <br> Agency
                </h2>
                <div class="footer__body-info">
                    <div class="footer__body-info-main">
                        <a class="footer__body-info-main-tel" href="tel:+74952410680">+7 (495) 241-06-80</a>
                        <a class="footer__body-info-main-mail"
                            href="mailto:info@seo-performance.ru">info@seo-performance.ru</a>
                        <div class="footer__body-info-main-social">
                            <a href="vk.com/seo.performance" class="footer__body-info-main-social-item">
                                <img src="../images/dist/social/1.png" alt="">
                            </a>
                            <a href="https://api.whatsapp.com/send/?phone=74952410680&text&type=phone_number&app_absent=0"
                                class="footer__body-info-main-social-item">
                                <img src="../images/dist/social/2.png" alt="">
                            </a>
                            <a href="https://t.me/SeoPerformanceAgency" class="footer__body-info-main-social-item">
                                <img src="../images/dist/social/3.png" alt="">
                            </a>
                            <a href="www.youtube.com/@seoperformance" class="footer__body-info-main-social-item">
                                <img src="../images/dist/social/4.png" alt="">
                            </a>
                        </div>
                    </div>
                    <nav class="footer__body-info-menu">
                        <ul class="footer__body-info-menu-item">
                            <li class="footer__body-info-menu-item-link">
                                <a href="">Главная</a>
                            </li>
                            <li class="footer__body-info-menu-item-link active">
                                <a href="https://seo-performance.ru/uslugi/">Услуги</a>
                            </li>
                            <li class="footer__body-info-menu-item-link">
                                <a href="https://seo-performance.ru/keysi/">Кейсы</a>
                            </li>
                            <li class="footer__body-info-menu-item-link">
                                <a href="https://seo-performance.ru/komanda/">Команда</a>
                            </li>
                        </ul>
                        <ul class="footer__body-info-menu-item">
                            <li class="footer__body-info-menu-item-link">
                                <a href="https://seo-performance.ru/o-kompanii/">О компании</a>
                            </li>
                            <li class="footer__body-info-menu-item-link">
                                <a href="https://seo-performance.ru/contacts/">Контакты</a>
                            </li>
                            <li class="footer__body-info-menu-item-link">
                                <a href="https://seo-performance.ru/contacts/">Партнерам</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="footer__body-copy">
                    <p class="footer__body-copy-address">
                        г. Москва, Волоколамсакое ш., 2 <br>
                        БЦ «Гидропроект»
                    </p>
                    <a href="" class="footer__body-copy-link">
                        Пользовательское соглашение
                    </a>
                    <a href="" class="footer__body-copy-link">
                        Политика конфиденциальности
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/smoothscroll/1.4.10/SmoothScroll.min.js"
        integrity="sha256-huW7yWl7tNfP7lGk46XE+Sp0nCotjzYodhVKlwaNeco=" crossorigin="anonymous"></script>
    <script src="
https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js
"></script>
    <script src="../js/main.min.js"></script>
</body>

</html>