<section class="why">
    <div class="container">
        <div class="why__body">
            <h3 class="why__body-title">
                <img src="../images/dist/cost.png" alt="">
                <span>Почему мы?</span>
            </h3>
            <p class="why__body-soft">
                <span>Продвижение сайта в Яндексе —</span>
                <br>отличная возможность попасть в ТОП и увеличить
                <br>базу постоянных клиентов!
            </p>
            <div class="why__body-items">
                <div class="why__body-items-item">
                    <img src="../images/dist/why/1.png" alt="">
                    <div class="why__body-items-item-text">
                        <span>Эффективно</span>
                        <p>продвинем сайт</p>
                        <span>в ТОП за 3 месяца</span>
                    </div>
                </div>
                <div class="why__body-items-item">
                    <img src="../images/dist/why/2.png" alt="">
                    <div class="why__body-items-item-text">
                        <p>С нами</p>
                        <span>безопасно</span>
                        <span>и надежно</span>
                    </div>
                </div>
                <div class="why__body-items-item">
                    <img src="../images/dist/why/3.png" alt="">
                    <div class="why__body-items-item-text">
                        <span>Успешно</span>
                        <p>реализовали</p>
                        <span>500+ проектов</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>